#vbody img {
    text-align: right;
    width: 200px;
    height: 200px;
}

#vbody h3 {
    text-align: center;
}

#vbody table {
    text-align: center;
}

#motto {
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
    width: 100px;
    height: 50px;
    padding-left: 900px;
    padding-bottom: 50px;
}

#teamname {
    text-align: center;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    background-color: rgb(119, 25, 25);
    color: white;
}
html {
    background-color: rgb(206, 190, 168);
}